.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  text-align: center;
}

#blooddrop {
  height: 500px;
}

.shot-paragraph {
  text-align: center;
}